<% wrapper_class = table.styles.responsive_wrapper_class %>

<% if wrapper_class %>
<div class="<%= wrapper_class %>">
<% end %>

<table class="<%= table.styles.table_classes %>">
  <thead>
    <% table.headers.each do |header| %>
      <th><%= header %></th>
    <% end %>
    <% if (header_length = table.actions_header.length) > 0 %>
      <th colspan="<%= header_length %>"></th>
    <% end %>
  </thead>
  <tbody>
    <% table.rows.each do |row| %>
      <tr>
        <% table.columns(row).each do |col| %>
          <td><%= col %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if wrapper_class %>
</div>
<% end %>

<% if table.paginate? %>
  <%= paginate table.rows, param_name: table.paginate_param_name %>
<% end %>
